[tool.poetry]
name = "commonroad-all"
version = "0.1.0"
description = "Meta-Package for installing all CommonRoad Tools"
authors = ["Cyber-Physical Systems Group, Technical University of Munich <commonroad@lists.lrz.de>"]
license = "GPL-3.0-or-later"
readme = "README.md"
keywords= ["autonomous", "automated", "vehicles", "driving", "motion", "planning", "simulation", "map", "scenario"]
classifiers = [
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)",
    "Operating System :: POSIX :: Linux",
#    "Operating System :: MacOS",
#    "Operating System :: Microsoft :: Windows"
]
packages = [{include = "commonroad_all"}]

[tool.poetry.dependencies]
python = ">=3.10, <3.12"
commonroad-io = { git = "git@gitlab.lrz.de:cps/commonroad/commonroad-io.git", branch = "develop"}
commonroad-route-planner = { git = "git@gitlab.lrz.de:cps/commonroad-route-planner.git", branch = "develop" }
commonroad-scenario-designer = { git = "git@gitlab.lrz.de:cps/commonroad/commonroad-scenario-designer.git", branch = "develop" }
commonroad-scenario-factory = { git = "git@gitlab.lrz.de:cps/commonroad/scenario-factory.git", branch = "develop"}
# commonroad-vehicle-models = "3.0.2"
# commonroad-drivability-checker = "2023.1"
# commonroad-dataset-converter = "2023.2"
# sumocr = "2023.2"
# commonroad-scenario-designer = "0.8.0"
# commonroad-route-planner = "2022.3"
# commonroad-crime = "0.3.0"
# commonroad-reach = "2023.1.1"
# commonroad-openscenario-converter = "0.1.0"
# commonroad-rl = "2023.1.3"
# crgeo = "0.1.1"
# commonroad-geometric = "0.1.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
